################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Skak/CopilotIndices/17.14.1569.27729
/.vs
/.idea/encodings.xml
/.idea/indexLayout.xml
/.idea/.gitignore
/.idea/vcs.xml
/Chess/Chess/obj/Debug/net9.0/Chess.AssemblyInfoInputs.cache
/Chess/Chess/obj/Debug/net9.0/Chess.assets.cache
/Chess/Chess/obj/Debug/net9.0/Chess.GeneratedMSBuildEditorConfig.editorconfig
/Chess/Chess/obj/Release/net9.0/Chess.assets.cache
/Chess/Chess/obj/Release/net9.0/Chess.AssemblyInfoInputs.cache
/Chess/Chess/obj/Release/net9.0/Chess.GeneratedMSBuildEditorConfig.editorconfig
/Chess/.vs/Chess/CopilotIndices/17.14.1569.27729
/Chess/Chess/obj/Debug/net9.0/Chess.AssemblyInfo.cs
/Chess/Chess/obj/Chess.csproj.nuget.dgspec.json
/Chess/Chess/obj/Chess.csproj.nuget.g.props
/Chess/Chess/obj/project.nuget.cache
/Chess/Chess/obj/project.assets.json
/Chess/.vs/Chess/FileContentIndex/310ab621-18fd-4f2d-9abc-6a4f52c01cb5.vsidx
