################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Skak/CopilotIndices/17.14.1569.27729
/.vs
